.explore-menu {
  background-image: url("../../assets/bckgr2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 22px;
}

h1 {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 60px;
}

.menu-list {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 90px;
  overflow-x: auto;
}

.menu-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}
.menu-list-item img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
}

/* .menu-list::-webkit-scrollbar {
  display: none;
} */
.menu-list::-webkit-scrollbar {
  width: 30px;
  height: 15px;
  scroll-behavior: smooth;
}

.menu-list::-webkit-scrollbar-track {
  background: #f1f1f134;
}

.menu-list::-webkit-scrollbar-thumb {
  background: #4b4b4b85;
}

.menu-list::-webkit-scrollbar-thumb:hover {
  background: rgba(29, 35, 35, 0.651);
}

.menu-list-item .active {
  border: 5px solid #de391cc1;
  padding: 2px;
}

@media (max-width: 1135px) {
  .menu-list {
    width: 740px;

    gap: 20px;
  }
  .menu-list-item img {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 742px) {
  .menu-list {
    width: 440px;
    gap: 20px;
  }
  .menu-list-item img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 441px) {
  .menu-list {
    width: 340px;
    gap: 20px;
  }
  .menu-list-item img {
    width: 100px;
    height: 100px;
  }
}
