h1 {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 60px;
}

.menu-list {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 90px;
  overflow-x: scroll;
  overflow: hidden;
}
.menu-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}
.menu-list-item img {
  width: 300px;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
}

.menu-list::-webkit-scrollbar {
  display: none;
}

.menu-list {
    animation: scroll 10s linear infinite;
}
.menu-list-item .active {
  border: 5px solid #de391cc1;
  padding: 2px;

}