.checkOut{
    padding-top: 120px;
    background-color: rgba(240, 248, 255, 0.783);
}
.checkOut h1{
    color: #000;
}

.checkOut h4{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 2rem;
    color: #000;
}

.checkOut hr{
    width: 570px;
    margin: 0 auto;
    border: 1px solid #000;
    margin-bottom: 40px;
}

.checkOut input{
    background-color: rgb(217, 217, 217);
    width: 370px;
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.299);
    font-weight: 200;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 10px;
}



.checkOut label{
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.checkoutForm {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 40px;
}

#payment{
    background-color: rgb(217, 217, 217);
    width: 370px;
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.299);
    font-weight: 200;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 10px;
}

#invoice{
  position: relative;
  right: 170px;
}


#orderBtn{
    background-color: #ef2222;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}


@media (max-width: 630px) {
    .checkOut input{
        width: 220px;
    }
    #payment{
        width: 220px;
    }
    .checkOut{
        padding-top: 120px;
        height: 160vh;
    }

    #invoice{
        position: relative;
        right: 90px;
      }
      .checkOut hr{
        width: 350px;
        margin: 0 auto;
        border: 1px solid #000;
        margin-bottom: 40px;
    }
  }
  @media (max-width: 400px) {
    .checkOut input{
        width: 170px;
    }
    #payment{
        width: 170px;
    }
    .checkOut{
        padding-top: 100px;
        height: 180vh;
        padding-bottom: 90px;
    }

    #invoice{
        position: relative;
        right: 70px;
      }
      .checkOut hr{
        width: 300px;
        margin: 0 auto;
        border: 1px solid #000;
        margin-bottom: 40px;
    }
   
  }
  @media (max-width: 550px) {
    .checkOut{
        padding-bottom: 30px;
    }
  }